---
layout: default
title: Blog
permalink: /blog/
---

{% for post in site.posts %}
<article class="post">
	<header>
		<h2 class="post-title">
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h2>
		<p class="post-meta">
			<span>Posted on {{ post.date | date: "%b %-d, %Y" }}</span>
			<span class="reading-time">
				{% assign words = post.content | number_of_words %}
				{% assign words_per_min = words | divided_by:160 %}
				{% if words_per_min <= 1 %} | 1 minute to read {% else %} | {{ words_per_min }} minutes to read {% endif %} 
			</span>
		</p>
	</header>
	<section>
		<p>{{ post.excerpt }}</p>
	</section>
	<hr class="post-separator">
</article>
{% endfor %}
