---
layout: default
---

{% for post in site.posts %}
<article class="post">
    <header>
        <h2 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">
            <span>Posted on {{ post.date | date: "%b %-d, %Y" }}</span>
            <span class="reading-time">
                {% assign words = post.content | number_of_words %}
                {% if words < 160 %} | less than a minute to read {% else %} | {{ words | divided_by:160 }} minutes to
                    read {% endif %} </span>
        </p>
    </header>
    <section>
        <p>{{ post.excerpt }}</p>
    </section>
    <hr class="post-separator">
</article>
{% endfor %}
