<div class="contact-list">
    <h5>
        <a target="_blank" href="https://github.com/{{ site.author.username }}" class="contact-link"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://twitter.com/{{ site.author.username }}" class="contact-link"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://linkedin.com/in/{{ site.author.username }}" class="contact-link"><i class="fab fa-linkedin"></i></a>
        <a target="_blank" href="mailto:{{ site.author.email }}" class="contact-link"><i class="fas fa-at"></i></a>
    </h5>
</div>
