<footer class="footer">
    <div>
        <a href="{{ 'feed.xml' | relative_url }}" alt="RSS" class="tooltip">
            <i class="fas fa-rss"></i>
            <span class="tooltiptext">Subscribe!</span>
        </a>
        <div class="disclaimer">
            The opinions presented on this site are my own.
        </div>
        <div>
            <a href="/license/">License</a> |
            <a href="/privacy/">Privacy</a> |
            <a href="/about/">Contact</a>
        </div>
    </div>
</footer>
