<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
    {% assign title = page.title | escape | append: " | " | append: site.title | escape %}
    {% else %}
    {% assign title = site.title | escape %}
    {% endif %}

    <title>{{ title }}</title>
    <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | xml_escape }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author.name <site.author.email> }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ site.author.username }}" />
    <meta name="twitter:title" content="{{ title }}" />

    {% if page.layout == "post" %}
    <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
    <meta property="og:title" content="{{ page.title | strip_html | strip_newlines | xml_escape }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | xml_escape }}" />
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {%- feed_meta -%}
</head>
