<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
    {% assign title = page.title | escape | append: " | " | append: site.title | escape %}
    {% else %}
    {% assign title = site.title | escape %}
    {% endif %}

    {% if page.excerpt %}
    {% assign description = page.excerpt | strip_html | xml_escape %}
    {% else %}
    {% assign description = site.description | escape %}
    {% endif %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="{{ site.author.name }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ site.author.username }}" />
    <meta name="twitter:title" content="{{ title }}" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />

    {% if page.image %}
    {% assign image = page.image | prepend: site.url %}
    <meta name="twitter:image" content="{{ image }}" />
    <meta property="og:image" content="{{ image }}" />
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    {%- feed_meta -%}
</head>
