.text-center {
    text-align: center;
}

.avatar {
    display: block;
    border-radius: 5em;
    overflow: hidden;
    width: 10em;
    height: 10em;
    margin-top: 30%;
    margin-right: auto;
    margin-bottom: 1.5em;
    margin-left: auto;
}

.avatar img {
    display: inline;
    height: 100%;
}

.description-title {
    font-family: 'Noto Sans', sans-serif;
}

.description {
    margin-top: 0;
    margin-bottom: 1rem;
    hyphens: auto;
    word-break: break-word;
}

.contact-list .contact-link {
    padding-right: 5px;
}

.contact-link, .contact-link:visited {
    color: var(--contact-link);
    text-decoration: none;
    background-color: transparent;
}

.contact-link:hover {
    color: var(--contact-link-hover);
    text-decoration: underline;
}
