.post, .page {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 0.75rem;
    hyphens: auto;
    word-break: break-word;
}

.post-title, .page-title {
    margin-top: 5%;
    margin-bottom: 0;
}

.post-title a {
    text-decoration: none;
}

.post-meta {
    margin: 0 0 5px 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.0rem;
    color: #9eabb3;
}

.post-separator {
    margin: 2.5rem 0;
}

.post-content img {
    max-width: 650px;
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    font-family: 'Noto Sans Bold', sans-serif;
}

h1 {
    font-size: 3.0rem;
    line-height: 1.2em;
    letter-spacing: -2px;
    text-indent: -3px;
}

h2 {
    font-size: 2.4rem;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-indent: -2px;
}

h3 {
    font-size: 2.0rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

p, ul, ol, dl {
    margin: 1.6em 0;
}

dl dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: 1em
}

dl dd {
    margin-left: 200px;
    margin-bottom: 1em
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 3.2em 0;
    padding: 0;
}

blockquote {
    box-sizing: border-box;
    margin: 1.6em 0 1.6em 0;
    padding: 0 0 0 1.6em;
    border-left: #4a4a4a 0.4em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-style: italic;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size:0.9em;
    color: #ccc;
}

blockquote small:before { 
    content: '\2014 \00A0'; 
}

blockquote cite {
    font-weight:bold;
}

blockquote cite a { 
    font-weight: normal; 
}

mark {
    background-color: #ffc336;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

code, tt {
    padding: 1px 3px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.85em;
    white-space: pre-wrap;
    border: 1px solid #e3edf3;
    background: #f7fafb;
    border-radius: 2px;
}

pre {
    box-sizing: border-box;
    margin: 1.6em 0;
    border: 1px solid #e3edf3;
    width: 100%;
    padding: 10px;
    font-family: Inconsolata, monospace, sans-serif;
    font-size: 0.9em;
    white-space: pre;
    overflow: auto;
    background: #f7fafb;
    border-radius: 3px;
}

pre code, tt {
    font-size: inherit;
    white-space: pre-wrap;
    background: transparent;
    border: none;
    padding: 0;
}

table th, table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
}

table th { 
    color: #000; 
}

table tbody + tbody { 
    border-top: 2px solid #e6e6e6; 
}

table table table { 
    background-color: #fff; 
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f6f6f6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
   background: transparent;
}
