@import url("/assets/css/fonts.css");
@import url("/assets/css/grid.css");
@import url("/assets/css/colors.css");
@import url("/assets/css/header.css");
@import url("/assets/css/footer.css");
@import url("/assets/css/code.css");
@import url("/assets/css/about.css");
@import url("/assets/css/blog.css");

@import url("/assets/css/fontawesome.min.css");
@import url("/assets/css/brands.min.css");
@import url("/assets/css/solid.min.css");

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-family: 'Noto Serif', serif;
    font-size: 100%;
    color: #3A4145;
}

body {
    font-size: 1.2rem;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    background: var(--body-bg);
}

.content {
   flex: 1 0 auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

a {
    color: var(--link);
    transition: color ease 0.3s;
    background: transparent;
}

a:hover {
    color: var(--link-hover);
}

a:active, a:hover {
    outline: 0;
}

